@page
@model eBookStoreClient.Pages.BookAuthors.CreateModel
@{
    ViewData["Title"] = "Assign Author to Book";
}

<h1>Assign Author to Book</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="Author.AuthorId" class="control-label"></label>
                <select asp-for="Author.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span class="text-danger">@Model.AuthorMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="CartDetail.AuthorOrder" class="control-label"></label>
                <input asp-for="CartDetail.AuthorOrder" type="number" class="form-control" />
                <span asp-validation-for="CartDetail.AuthorOrder" class="text-danger"></span>
                <span class="text-danger">@Model.OrderMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="CartDetail.RoyaltyPercentage" class="control-label"></label>
                <input asp-for="CartDetail.RoyaltyPercentage" type="number" class="form-control" />
                <span asp-validation-for="CartDetail.RoyaltyPercentage" class="text-danger"></span>
                <span class="text-danger">@Model.RoyaltyMessage</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-page="/BookAuthors/Details">Back</a>

