@page
@model eBookStoreClient.Pages.Members.LogoutModel
@{
        ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <div class="my-2">Are you sure you want to logout?</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Logout" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
