@page
@model eBookStoreClient.Pages.Books.EditAuthors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookAuthor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookAuthor.AuthorId" />
            <input type="hidden" asp-for="BookAuthor.BookId" />
            <div class="form-group">
                <label asp-for="BookAuthor.AuthorOrder" class="control-label"></label>
                <input asp-for="BookAuthor.AuthorOrder" class="form-control" />
                <span asp-validation-for="BookAuthor.AuthorOrder" class="text-danger"></span>
                <span class="text-danger">@Model.OrderMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor.RoyaltyPercentage" class="control-label"></label>
                <input asp-for="BookAuthor.RoyaltyPercentage" class="form-control" />
                <span asp-validation-for="BookAuthor.RoyaltyPercentage" class="text-danger"></span>
                <span class="text-danger">@Model.RoyaltyMessage</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.BookAuthor.BookId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
